<script lang="ts">
	import { AppBar } from '@skeletonlabs/skeleton';
</script>

<AppBar>
	Created by <a href="https://gitlab.com/tdtimur">@tdtimur</a>. Please share your thoughts and show
	your support at <a href="https://gitlab.com/tdtimur/pocket-chess">the source repo</a> if you like it!
</AppBar>
