<script lang="ts">
	import { Tab, TabGroup } from '@skeletonlabs/skeleton';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { MIcon } from '$lib/components';
	import navItems from '$lib/constants/nav.constant';

	let tabsBottomNav;
</script>

<TabGroup
	justify="justify-center"
	active="variant-filled-primary"
	hover="hover:variant-soft-primary"
	flex="flex-1 lg:flex-none"
	rounded=""
	border=""
	class="bg-surface-100-800-token w-full lg:hidden"
>
	{#each navItems as nav (nav.path)}
		<Tab
			bind:group={tabsBottomNav}
			name={nav.path}
			class={$page.url.pathname === nav.path ? 'variant-filled-primary' : ''}
			value={nav.path}
			on:click={() => goto(nav.path)}
		>
			<svelte:fragment slot="lead">
				<MIcon icon={nav.icon} />
			</svelte:fragment>
			{nav.name}
		</Tab>
	{/each}
</TabGroup>
