<script lang="ts">
	import { AppBar } from '@skeletonlabs/skeleton';
	import { MIcon } from '$lib/components';
	export let title = 'Pocket Chess';
</script>

<AppBar gridColumns="grid-cols-3" slotDefault="place-self-center" slotTrail="place-content-end">
	<svelte:fragment slot="lead">
		<button type="button" class="btn-icon invisible">
			<MIcon icon="menu" />
		</button>
	</svelte:fragment>
	{title}
</AppBar>
