<script lang="ts">
	import { AppShell } from '@skeletonlabs/skeleton';
	import Navbar from './Navbar.svelte';
	import Sidebar from './Sidebar.svelte';
	// import Footer from './Footer.svelte';
	import MobileMenu from './MobileMenu.svelte';
</script>

<AppShell>
	<svelte:fragment slot="pageHeader">
		<Navbar />
	</svelte:fragment>
	<svelte:fragment slot="sidebarLeft">
		<Sidebar />
	</svelte:fragment>
	<slot />
	<svelte:fragment slot="pageFooter">
		<!--		<Footer />-->
		<MobileMenu />
	</svelte:fragment>
</AppShell>
