<script lang="ts">
	import { AppRail, AppRailAnchor } from '@skeletonlabs/skeleton';
	import { page } from '$app/stores';
	import { MIcon } from '$lib/components';
	import navItems from '$lib/constants/nav.constant';
</script>

<AppRail class="max-lg:hidden">
	<AppRailAnchor title="Pocket Chess logo">
		<svelte:fragment slot="lead">
			<MIcon icon="grid_on" />
		</svelte:fragment>
	</AppRailAnchor>
	{#each navItems as nav (nav.path)}
		<AppRailAnchor title={nav.name} href={nav.path} selected={nav.path === $page.url.pathname}>
			<svelte:fragment slot="lead">
				<MIcon icon={nav.icon} />
			</svelte:fragment>
			<span>{nav.name}</span>
		</AppRailAnchor>
	{/each}
	<svelte:fragment slot="trail">
		<AppRailAnchor title="About" href="/about" selected={$page.url.pathname === '/about'}>
			<svelte:fragment slot="lead">
				<MIcon icon="info" />
			</svelte:fragment>
			<span>About</span>
		</AppRailAnchor>
	</svelte:fragment>
</AppRail>
